html
  head
    body
      h3
        i.fas.fa-book-reader
        |  Pisqre
      .section
        p.lead Join the Pisqre Community Today
      .divider
      .section
        a.btn.red.darken-1(href='/auth/google')
          i.fab.fa-google.left
            SignUp  Cotinue With Google